:root {
  --red: #FF4A07;
  --orange: #FF9F07;
  --blue: #09AAC1;
  --light: #FFFAFB;
  --dark: #000708;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--light);
  font-family: "Century Gothic", sans-serif;
}
